// === Imports ===

@import 'normalize.scss';

// === /Imports ===

// === Mixins ===


@mixin font-montserrat{
    font-family: 'Montserrat', sans-serif;
}

@mixin font-roboto{
    font-family: 'Roboto', sans-serif;
}

@mixin list-style-none{
    list-style: none;
    padding: 0;
    margin: 0;
}

// === /Mixins ===


// === Common ===

*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

h1,h2,h3,h4,h5,p{
    padding: 0;
    margin: 0;
}

body{
    @include font-montserrat;
    background-color: rgb(145, 145, 109);
}

.section-inner{
    max-width: 1300px;
    margin: 0 auto;
}

// === /Common ===

// === Header ===

.section-header{
    background-color: #353535;
    padding: 12px 0;
    .section-inner{
        display: flex;
        align-items: center;
    }
}

.site-logo{
    flex-basis: 20%;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    img{
        margin-right: 12px;
    }
}

.header__title{
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
}

.header__logo{
    border-right: 1px solid #FFFFFF;
    max-width: 220px;
    margin-right: 40px;
}

.header-menu{
    display: flex;
    align-items: center;
}

.header-nav{
    margin-right: 320px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__link{
        position: relative;
        text-decoration: none;
        font-weight: 600;
        font-size: 14px;
        line-height: 140%;
        color: #FFFFFF;
        &::after{
            display: block;
            position: absolute;
            top: 100%;
            margin-top: 8px;
            left: 0;
            content: "";
            width: 0;
            height: 2px;
            background-color: white;
            transition: width 0.3s ease-out;
        }
        &:hover::after{
            width: 100%;
        }
        &:not(:last-child){
            margin-right: 40px;
        }
    }
    
}

.change-lang-btn{
    cursor: pointer;
    display: flex;
    align-items: center;
    &__name{
        margin-right: 6px;
        font-weight: 600;
        font-size: 14px;
        line-height: 140%;
        text-transform: uppercase;
        color: #FFFFFF;
        transition: .2s;
        &:hover, &:active, &focus{
            color: rgba(114, 114, 114, 0.8);
        }
    }
    svg{
        transition: .2s;
    }
    &:hover, &:active, &focus{
        svg{
            path{
                fill: rgba(114, 114, 114, 0.8);
            }
        }
    }
}

.header-contacts{
    margin-right: 80px;
    display: flex;
    align-items: center;
    svg{
        margin-right: 8px;
    }
    &__phone{
        font-weight: 600;
        font-size: 14px;
        line-height: 140%;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    &__subtitle{
        font-weight: 600;
        font-size: 12px;
        line-height: 140%;
        color: #F5E25F;
    }
}

.burger-btn{
    display: none;
    cursor: pointer;
    width: 32px;
    height: 32px;
    position: relative;
    &::before{
        content: '';
        width: 100%;
        height: 4px;
        background: #FFFFFF;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: 0.5s;
    }
    span{
        transition: 0.5s;
        display: block;
        width: 100%;
        height: 4px;
        background: #FFFFFF;
    }
    &::after{
        content: '';
        width: 100%;
        height: 4px;
        background: #FFFFFF;
        position: absolute;
        top: 45%;
        left: 0;
        transition: 0.5s;
    }
}

.burger-btn--animate{
    &::before{
        transform: rotate(45deg);
        top: 50%;
    }
    span{
        opacity: 0;
    }
    &::after{
        transform: rotate(-45deg);
        top: 50%;
    }
}

// === /Header ===


// === Promo ===


.section-promo{
    background: #1E1E1E;
    padding: 80px 0 100px;
    .section-inner{
        background: url(../img/index-promo.png) 100% no-repeat;
        background-size: cover;
        width: 100%;
        padding: 72px 0 160px 56px;
    }
}

.promo-title{
    max-width: 600px;
    font-weight: bold;
    font-size: 50px;
    line-height: 140%;
    color: #FFFFFF;
    margin-bottom: 12px;
}
.promo-subtitle{
    max-width: 600px;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #FFFFFF;
    margin-bottom: 48px;
}
.send-button{
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 28px;
    padding: 12px 8px 12px 32px;
    svg{
        margin-left: 28px;
        transition: .4s;
        path{
            transition: .4s;
        }
    }
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    border: none;
    transition: .4s;
    border: 1px solid #FFFFFF;
}
.promo__send-button{
    box-sizing: border-box;
    color: #1E1E1E;
    background: #FFFFFF;
    &:hover, &:active, &:focus{
        color: #FFFFFF;
        background: #1E1E1E;
        border: 1px solid #FFFFFF;
        svg{
            path{
                fill: white;
            }
        }
    }
}


// === /Promo ===




// === AboutUs ===

    .section-aboutus{
        background-color: #1E1E1E;
        .section-inner{
            
            &__main{
                .section-image{
                        
                        width: 1280px;
                        height: 720px;
                        background:url(../img/AboutUs.png) no-repeat center ;
                        
                    .section-title{
                        h1{
                            padding-top: 230px;
                            font-weight: bold;
                            font-size: 50px;
                            text-align: center;
                            color: #FFFFFF;
                        }
                        .section-subtitle{
                            h2{
                                padding-top: 32px;
                                font-weight: 500;
                                font-size: 18px;
                                text-align: center;
                                color: #FFFFFF;
                            }
                        }
                    }
                }
            }
        }
    }

// === /AboutUs ===

// === Service ===
 
.section-service{
    background-color: white;
    .section-inner{
        &-title{
            h1{
                padding-top: 120px;
                padding-bottom: 80px;
                font-weight: bold;
                font-size: 36px;
                text-align: center;
                color: #1E1E1E;
            }
        }
        &__statistics{
            padding-bottom: 120px;
            &_count{
                
                p{
                    font-weight: 600;
                    font-size: 56px;
                    color: #000000;
                }
                .big-business{
                    position: absolute;
                    top: 112%;
                }
                .small-business{
                    position: absolute;
                    top: 133%;
                }
                .flats{
                    position: absolute;
                    top: 112%;
                    left: 73%;
                }
                .cottages{
                    position: absolute;
                    left: 73%;
                    top: 135%;
                }
            }
            .section-subtitle{
                p{
                    font-weight: 500;
                    font-size: 18px;
                    color: #000000;
                    
                }
                .big-business{
                    position: absolute;
                    top: 120%;
                }
                .small-business{
                    position: absolute;
                    top: 142%;
                }
                .flats{
                    position: absolute;
                    top: 120%;
                }
                .cottages{
                    position: absolute;
                    top: 143%;
                }
            }
        }
    }
}

// === /Service ===

// === Zone ===

.section-zone{
    background-color:#1E1E1E;
    
    .section-inner{
        display: flex;
        &__map{
            padding-top: 120px;
            padding-bottom: 140px;
        }
        &__list{
            padding-top: 120px;
            padding-bottom: 120px;
            padding-left: 140px;
            display: block;
            h1{
                padding-bottom: 40px;
                position: relative;
                font-weight: bold;
                font-size: 36px;
                color: #FFFFFF;
            }
            ul{
                padding-bottom: 36px;
                &last-child{
                    padding-bottom: 0;
                }
                p{
                    position: absolute;
                    left: 61%;
                    font-weight: 600;
                    font-size: 24px;
                    color: #F4F4F5;
                }
                    li{
                        cursor: pointer;
                        list-style: none;
                        margin-bottom: 8px;
                        font-weight: normal;
                        font-size: 18px;
                        color: #FFFFFF;
                    }
            }
        }
    }
}

// === /Zone ===

// === Team ===

.section-team{
    background-color: white;
    .section-inner{
        &-title{
            padding-top: 120px;
            padding-bottom: 50px;
            font-weight: bold;
            font-size: 24px;
            text-align: center;
            color: #1E1E1E;
        }
        &__photo{
            padding-bottom: 120px;
        }
    }
}

// === /Team ===


// === Footer ===

.section-footer{
    background: #1E1E1E;
    padding: 72px 0 0;
    .section-inner{
        padding-bottom: 72px;
    }
}

.footer-main{
    display: flex;
    //align-items: center;
    justify-content: space-between;
}

.footer-services{
    @include list-style-none();
    li + li{
        margin-top: 20px;
    }
    &__item{
        font-weight: normal;
        font-size: 16px;
        line-height: 130%;
        color: rgba(255, 255, 255, 0.8);
        transition: .2s;
        &:hover, &:active, &focus{
           color: rgba(114, 114, 114, 0.8);
        }
    }
    &__title{
        font-weight: 500;
        font-size: 20px;
        line-height: 130%;
        color: #D3D8DC;
    }
}
.footer-info{
    @include list-style-none();
    li + li{
        margin-top: 20px;
    }
    &__item{
        font-weight: normal;
        font-size: 16px;
        line-height: 130%;
        color: rgba(255, 255, 255, 0.8);
        &:hover, &:active, &focus{
            color: rgba(114, 114, 114, 0.8);
         }
    }
    &__title{
        font-weight: 500;
        font-size: 20px;
        line-height: 130%;
        color: #D3D8DC;
    }
}
.footer-contacts{
    @include list-style-none();
    li + li{
        margin-top: 20px;
    }
    &__item{
        font-weight: normal;
        font-size: 16px;
        line-height: 130%;
        color: rgba(255, 255, 255, 0.8);
        &:hover, &:active, &focus{
            color: rgba(114, 114, 114, 0.8);
        }
    }
    &__title{
        font-weight: 500;
        font-size: 20px;
        line-height: 130%;
        color: #D3D8DC;
    }
    .footer-contacts__phone{
        max-width: 140px;
    }
}
.footer-socials{
    @include list-style-none();
    li + li{
        margin-top: 20px;
    }
    &__item{
        font-weight: normal;
        font-size: 16px;
        line-height: 130%;
        color: rgba(255, 255, 255, 0.8);
        &:hover, &:active, &focus{
            color: rgba(114, 114, 114, 0.8);
        }
    }
    &__title{
        font-weight: 500;
        font-size: 20px;
        line-height: 130%;
        color: #D3D8DC;
    }
    .change-lang-btn{
        margin-top: 92px;
    }
}

.footer-copyright{
    background-color: black;
    padding: 12px 0;
}

.site-copyright{
    @include font-roboto;
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    color: #CED7DF
}

// === /Footer ===



// === MEDIA ===

@media (max-width: 1400px){
    .section-inner{
        max-width: 1100px;
    }
    .header-nav{
        margin-right: 160px;
    }
    .header-contacts{
        margin-right: 40px;
    }
}

@media (max-width: 1200px){
    .section-inner{
        max-width: 1000px;
    }
    .header-nav{
        margin-right: 140px;
    }
    .header-contacts{
        margin-right: 30px;
    }
    .header__logo{
        padding-right: 10px;
    }
}

@media (max-width: 1000px){
    .section-inner{
        max-width: 800px;
        justify-content: space-between;
    }
    
    .burger-btn{
        display: block;
    }
    .site-logo{
        flex-basis: 50%;
        border: none;
    }
    .header-menu{
        display: none;
    }
    .header-menu--active{
        display: flex;
        background-color: #353535;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 78px;
        left: 0;
        flex-direction: column;
        .header-nav{
            margin: 0;
            padding: 0 10%;
            align-self: flex-start;
            width: 100%;
            margin-top: 24px;
            flex-direction: column;
            &__link{
                margin: 0;
                width: 100%;
                padding: 24px 0;
                border-top: 1px solid rgba(30, 30, 30, 0.5);
            }
        }
        .header-contacts{
            margin: 0;
            font-size: 18px;
            padding: 0 10%;
            align-self: flex-start;
            margin-bottom: 20px;
        }
        .change-lang-btn{
            font-size: 18px;
            padding: 0 10%;
            align-self: flex-start;
        }
    }

    // === RPromo ===

    .section-promo{
        padding: 0;
        .section-inner{
           max-width: 100%;
        }
    }

    // === /RPromo ===

}

@media (max-width: 900px){
    .section-inner{
        max-width: 700px;
    }
}

@media (max-width: 800px){
    .section-inner{
        max-width: 600px;
    }
    // === Media Footer ===

    .footer-main{
        flex-direction: column;
        ul+ul{
            margin-bottom: 64px;
        }
    }

    // === Media /Footer ===
}

@media (max-width: 700px){
    .section-inner{
        max-width: 500px;
    }

    // === RPromo ===

    .section-promo{
        .section-inner{
            padding-top: 278px;
            background-position: 80%;
        }
        .promo-title{
            font-size: 32px;
        }
    }

    // === /RPromo ===

}

@media (max-width: 600px){
    .section-inner{
        max-width: 480px;
    }
    .site-logo{
        flex-basis: 70%;
    }
}

@media (max-width: 500px){
    .section-inner{
        max-width: 400px;
    }
}

@media (max-width: 400px){
    .section-inner{
        max-width: 300px;
    }
}



// === /MEDIA ===