// === Imports ===

@import 'normalize.scss';

// === /Imports ===

// === Mixins ===


@mixin font-montserrat{
    font-family: 'Montserrat', sans-serif;
}

@mixin font-roboto{
    font-family: 'Roboto', sans-serif;
}

@mixin list-style-none{
    list-style: none;
    padding: 0;
    margin: 0;
}

// === /Mixins ===


// === Common ===

*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

h1,h2,h3,h4,h5,p{
    padding: 0;
    margin: 0;
}

body{
    @include font-montserrat;
    background-color: rgb(145, 145, 109);
}

.section-inner{
    max-width: 1300px;
    margin: 0 auto;
}

// === /Common ===

// === Header ===

.section-header{
    background-color: #353535;
    padding: 12px 0;
    .section-inner{
        display: flex;
        align-items: center;
    }
}

.site-logo{
    flex-basis: 20%;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    img{
        margin-right: 12px;
    }
}

.header__title{
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
}

.header__logo{
    border-right: 1px solid #FFFFFF;
    max-width: 220px;
    margin-right: 40px;
}

.header-menu{
    display: flex;
    align-items: center;
}

.header-nav{
    margin-right: 320px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__link{
        position: relative;
        text-decoration: none;
        font-weight: 600;
        font-size: 14px;
        line-height: 140%;
        color: #FFFFFF;
        &::after{
            display: block;
            position: absolute;
            top: 100%;
            margin-top: 8px;
            left: 0;
            content: "";
            width: 0;
            height: 2px;
            background-color: white;
            transition: width 0.3s ease-out;
        }
        &:hover::after{
            width: 100%;
        }
        &:not(:last-child){
            margin-right: 40px;
        }
    }
    
}

.change-lang-btn{
    cursor: pointer;
    display: flex;
    align-items: center;
    &__name{
        margin-right: 6px;
        font-weight: 600;
        font-size: 14px;
        line-height: 140%;
        text-transform: uppercase;
        color: #FFFFFF;
        transition: .2s;
        &:hover, &:active, &focus{
            color: rgba(114, 114, 114, 0.8);
        }
    }
    svg{
        transition: .2s;
    }
    &:hover, &:active, &focus{
        svg{
            path{
                fill: rgba(114, 114, 114, 0.8);
            }
        }
    }
}

.header-contacts{
    margin-right: 80px;
    display: flex;
    align-items: center;
    svg{
        margin-right: 8px;
    }
    &__phone{
        font-weight: 600;
        font-size: 14px;
        line-height: 140%;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    &__subtitle{
        font-weight: 600;
        font-size: 12px;
        line-height: 140%;
        color: #F5E25F;
    }
}

.burger-btn{
    display: none;
    cursor: pointer;
    width: 32px;
    height: 32px;
    position: relative;
    &::before{
        content: '';
        width: 100%;
        height: 4px;
        background: #FFFFFF;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: 0.5s;
    }
    span{
        transition: 0.5s;
        display: block;
        width: 100%;
        height: 4px;
        background: #FFFFFF;
    }
    &::after{
        content: '';
        width: 100%;
        height: 4px;
        background: #FFFFFF;
        position: absolute;
        top: 45%;
        left: 0;
        transition: 0.5s;
    }
}

.burger-btn--animate{
    &::before{
        transform: rotate(45deg);
        top: 50%;
    }
    span{
        opacity: 0;
    }
    &::after{
        transform: rotate(-45deg);
        top: 50%;
    }
}

// === /Header ===


// === Promo ===


.section-promo{
    background: #1E1E1E;
    padding: 80px 0 100px;
    .section-inner{
        background: url(../img/index-promo.png) 100% no-repeat;
        background-size: cover;
        width: 100%;
        padding: 72px 0 160px 56px;
    }
}

.promo-title{
    max-width: 600px;
    font-weight: bold;
    font-size: 50px;
    line-height: 140%;
    color: #FFFFFF;
    margin-bottom: 12px;
}
.promo-subtitle{
    max-width: 600px;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #FFFFFF;
    margin-bottom: 48px;
}
.send-button{
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 28px;
    padding: 12px 8px 12px 32px;
    svg{
        margin-left: 28px;
        transition: .4s;
        path{
            transition: .4s;
        }
    }
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    border: none;
    transition: .4s;
    border: 1px solid #FFFFFF;
}
.promo__send-button{
    box-sizing: border-box;
    color: #1E1E1E;
    background: #FFFFFF;
    &:hover, &:active, &:focus{
        color: #FFFFFF;
        background: #1E1E1E;
        border: 1px solid #FFFFFF;
        svg{
            path{
                fill: white;
            }
        }
    }
}


// === /Promo ===


// === reliability ===

.section-reliability{
    padding: 80px 0 120px;
    background-color: #E5E5E5;
    .section-inner{
        display: flex;
        align-items: center;
    }
    .section-title{
        margin-bottom: 24px;
    }
}

.section-title{
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
}

.reliability-list{
    max-width: 600px;
    @include list-style-none;
    &__title{
        font-weight: normal;
        font-size: 14px;
        line-height: 180%;
        color: #000000;
        margin-bottom: 16px;
    }
    &__item{
        font-weight: normal;
        font-size: 14px;
        &+&{
            margin-top: 12px;
        }
    }
    margin-bottom: 40px;
}

.btn-primary{
    transition: .4s;
    cursor: pointer;
    background: #1E1E1E;
    border-radius: 28px;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    color: #FFFFFF;
    border: 1px solid #1E1E1E;

    display: flex;
    align-items: center;

    box-sizing: border-box;

    padding: 13px 8px 13px 32px;

    border: none;

    svg{
        margin-left: 28px;
    }

    &:hover, &:active, &:focus{
        color: #1E1E1E;
        background: white;
        svg{
            path{
                fill: #1E1E1E;
            }
        }
    }

}

// === /reliability ===


// === Services slider ===

.section-services-slider{
    background: #FFFFFF;
    padding: 116px 0 100px;
}

.slider-title{
    margin-bottom: 56px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    .section-title{
        grid-column-start: 2;
        grid-column-end: 3;
        text-align: center;
    }
    .slider-arrows{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__item{
            &:last-child{
                transform: rotate(180deg);
            }
        }
        svg{
            cursor: pointer;
            &:hover{
                path{
                    fill: black;
                }
            }
        }
        grid-column-start: 3;
        grid-column-end: 4;
        justify-self: end;
        width: 200px;
    }
}

.services-slider{
    &__wrapper{
        margin-bottom: 56px;
    }
    &-item{
        min-height: 420px;
        min-width: 320px;
        background-color: #F4F4F5;
        padding: 32px 32px 0 32px;
        &__icon{
            margin-bottom: 40px;
        }
        &__title{
            margin-bottom: 16px;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: #000000
        }
        &__subtitle{
            max-width: 290px;
            font-weight: normal;
            font-size: 14px;
            line-height: 160%;
            color: #000000
        }
    }
}

// === /Services slider ===


// === Algorithm ===

.section-algorithm{
    padding: 116px 0 140px;
    background: #1E1E1E;
    &__title{
        margin-bottom: 56px;
        font-weight: 600;
        font-size: 36px;
        line-height: 44px;
        text-align: center;
        color: #FFFFFF
    }
}

.algorithm-cards{
    &__item{
        width: 218px;
    }
    display: flex;
    //align-items: center;
    justify-content: space-between;
    &-card{
        display: flex;
        flex-direction: column;
        margin-bottom: 24px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 100%);
        
        height: 240px;
        &__number{
            color: rgba(255, 255, 255, 0.1);
            font-weight: 600;
            font-size: 48px;
            line-height: 130%;
        }
        &__icon{
            margin: auto;
            text-align: center;
            vertical-align: middle;
        }
    }
    &__subtitle{
        max-width: 100%;
        margin: 0 auto;
        font-weight: 500;
        font-size: 16px;
        line-height: 130%;
        text-align: center;
        color: #FFFFFF;
    }
}

// === /Algorithm ===

// === Features ===


.section-features{
    background: #E5E5E5;
    padding: 116px 0 108px;
    .section-title{
        font-weight: 600;
        font-size: 36px;
        line-height: 44px;
        text-align: center;
        color: #000000;
        margin-bottom: 56px;
    }
}

.features-wrapper{
    display: flex;
    align-items: center;
}

.features-content{
    margin-left: 40px;
    min-height: 100%;
    &__first-article{
        background: linear-gradient(90.13deg, rgba(245, 226, 95, 0.3) 0.11%, rgba(245, 226, 95, 0) 83.32%);
        padding: 22px 0 22px 32px;
        border-left: 3px solid #F5E25F;
    }
    &__second-article{
        padding: 22px 0 22px 32px;
        border-left: 3px solid #dadada;
        .features-content__desc{
            font-weight: 500;
            font-size: 14px;
            line-height: 160%;
            color: #A4AEB6;       
        }
    }
    &__title{
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #1E1E1E;
        margin-bottom: 12px;
    }
    &__desc{
        font-weight: 500;
        font-size: 14px;
        line-height: 160%;
        color: #1E1E1E;
    }
}

// === /Features ===

// == Reviews ===

.section-reviews{
    padding: 122px 0 116px;
    background: #FFFFFF;
}

.reviews-slider-item{
    padding: 32px;
    width: 416px !important;
    height: 245px !important;
    background: #F4F4F5;
    border-radius: 10px;
    &__title{
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
        margin-bottom: 16px;
    }
    &__desc{
        width: 352px;
        max-height: 104px;
        overflow:hidden;
        text-overflow: ellipsis;
        font-weight: normal;
        font-size: 16px;
        line-height: 160%;
        color: #000000;
        margin-bottom: 24px;
    }
    &__btn-read-more{
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #1E1E1E;
        border-bottom: 1px dashed #1E1E1E;
        text-decoration: none;
    }
}

.reviews-slider__wrapper{
    margin-bottom: 56px;
}
// === /Reviews ===

// === Licenses ===

.section-licenses{
    background: #1E1E1E;
    padding: 116px 0;
    .section-title{
        grid-column-start: 1;
        justify-self: end;
        font-weight: 600;
        font-size: 36px;
        line-height: 44px;
        text-align: center;
        color: #FFFFFF;
    }
    .licenses-swiper-scrollbar{
        background: #777777;
        .swiper-scrollbar-drag{
            background: #FFFFFF;
        }
    }
    .swiper-button-prev-unique-licenses, .swiper-button-next-unique-licenses{
        &:hover, &:focus, &:active{
            svg{
                path{
                    fill: #8d8d8d;
                }
            }
        }
    }
}

// === /Licenses ===

// === Application ===

main{
    .section-application{
        padding: 116px 0 100px;
    }
}

// === /Application ===

// === AboutUs ===

    .section-aboutus{
        background-color: #1E1E1E;
        .section-inner{
            
            &__main{
                .section-image{   
                        width: 1280px;
                        height: 720px;
                        background:url(../img/AboutUs.png) no-repeat center ;
                        
                    .section-title{
                        h1{
                            padding-top: 230px;
                            font-weight: bold;
                            font-size: 50px;
                            text-align: center;
                            color: #FFFFFF;
                        }
                        .section-subtitle{
                            h2{
                                padding-top: 32px;
                                font-weight: 500;
                                font-size: 18px;
                               
                                text-align: center;
                                color: #FFFFFF;
                            }
                        }
                    }
                }
            }
        }
    }

// === /AboutUs ===

// === Service ===
 
.section-service{
    background-color: white;
    .section-inner{
        &-title{
            h1{
                padding-top: 120px;
                padding-bottom: 80px;
                font-weight: bold;
                font-size: 36px;
                text-align: center;
                color: #1E1E1E;
            }
        }
        &__statistics{
            padding-bottom: 120px;
            &_count{
                
                p{
                    font-weight: 600;
                    font-size: 56px;
                    color: #000000;
                }
                .big-business{
                    position: absolute;
                    top: 112%;
                }
                .small-business{
                    position: absolute;
                    top: 133%;
                }
                .flats{
                    position: absolute;
                    top: 112%;
                    left: 73%;
                }
                .cottages{
                    position: absolute;
                    left: 73%;
                    top: 135%;
                }
            }
            .section-subtitle{
                p{
                    font-weight: 500;
                    font-size: 18px;
                    color: #000000;
                    
                }
                .big-business{
                    position: absolute;
                    top: 120%;
                }
                .small-business{
                    position: absolute;
                    top: 142%;
                }
                .flats{
                    position: absolute;
                    top: 120%;
                }
                .cottages{
                    position: absolute;
                    top: 143%;
                }
            }
        }
    }
}

// === /Service ===

// === Zone ===

.section-zone{
    background-color:#1E1E1E;
    
    .section-inner{
        display: flex;
        &__map{
            padding-top: 120px;
            padding-bottom: 140px;
        }
        &__list{
            padding-top: 120px;
            padding-bottom: 120px;
            padding-left: 140px;
            display: block;
            h1{
                padding-bottom: 40px;
                position: relative;
                font-weight: bold;
                font-size: 36px;
                color: #FFFFFF;
            }
            ul{
                padding-bottom: 36px;
                &last-child{
                    padding-bottom: 0;
                }
                p{
                    position: absolute;
                    left: 61%;
                    font-weight: 600;
                    font-size: 24px;
                    color: #F4F4F5;
                }
                    li{
                        cursor: pointer;
                        list-style: none;
                        margin-bottom: 8px;
                        font-weight: normal;
                        font-size: 18px;
                        color: #FFFFFF;
                    }
            }
        }
    }
}

// === /Zone ===

// === Team ===

.section-team{
    background-color: white;
    .section-inner{
        &-title{
            padding-top: 120px;
            padding-bottom: 50px;
            font-weight: bold;
            font-size: 24px;
            text-align: center;
            color: #1E1E1E;
        }
        &__photo{
            padding-bottom: 120px;
        }
    }
}

// === /Team ===

// === Application ===

.section-application{
    background-color:white;
    .section-inner{
        display: flex;
        &__content{
            &__title{
                padding-top: 110px;
                padding-bottom: 30px;
                font-weight: 600;
                font-size: 36px;
                color: #1E1E1E;
            }
            &__subtitle{
                padding-bottom: 40px;
                font-weight: normal;
                font-size: 16px;
                color: #000000;
    
            }
            &__text{

                display: block;
            }
            &__application{
               
                &-placeholder{
                    input{
                        
                        margin-bottom: 12px;
                        font-weight: normal;
                        font-size: 14px;
                        padding-top: 20px;
                        padding-bottom: 20px;
                        padding-right: 400px;
                        padding-left: 10px;
                        color: #777777;
                        background: #F5F5F5;
                        border-radius: 5px;
                        border: none;
                        background: #F5F5F5;
                        border-radius: 5px;
                    }   
                }
                .section-application__button{
                    padding-top: 20px;
                    padding-bottom: 60px;
                    display: flex;
                    align-items:center;
                    
                    input{
                        margin-right: 12px;
                    }
                    label{
                       padding-right: 250px;
                        font-weight: 500;
                        font-size: 14px;
                        color: #777777;
                    }
                    button{
                        transition: .4s;
                        cursor: pointer;
                        background: #1E1E1E;
                        border-radius: 28px;
                        font-weight: 600;
                        font-size: 14px;
                        color: #FFFFFF;
                        border: 1px solid #1E1E1E;
                        display: flex;
                        align-items: center;
                        box-sizing: border-box;
                        padding: 12px 32px 12px 62px ;
                        border: none;
    
                        &:hover, &:active, &:focus{
                            color: #000000;
                            background: rgba(30, 30, 30, 0.2);
                            
                    
                            svg{
                                path{
                                    fill: #000000;
                                }
                            }
                        }
                        svg{
                            margin-left: 30px ;
                        }
                    }
                }
            }
        }
        &__photo{
            align-self: flex-end;
        }
    }
}

// === /Application ===

// === News ===

.section-news{
    background: #E5E5E5;
    .section-inner{
        a{
           color: black;
           text-decoration: none; 
        }
        &__title{
            padding-top: 100px;
            padding-bottom: 50px;
            font-weight: bold;
            font-size: 36px;
            text-align: center;
        }
        &__container{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            &__item{

                &-title{
                    padding-top: 25px;
                    padding-bottom: 15px;
                    font-weight: 600;
                    font-size: 18px;
                    
                    
                }
                &-subtitle{
                    font-weight: normal;
                    padding-bottom: 15px;
                    font-size: 14px;
                    
                }
                &-date{
                    a{
                        text-decoration: none;
                        color: rgba(30, 30, 30, 0.5);
                    }
                    padding-bottom: 130px;
                    font-weight: 600;
                    font-size: 14px;
                    
                }
            }
        }
        &__pages{
            padding-bottom: 85px;
            text-align: center;
            align-items:center;
            #left{
                margin-right: 50px;
            }
            #right{
                margin-left: 50px;
            }
            #page1{
                color: black;
            }
            .list-pages{
                padding: 20px;
                font-weight: 600;
                font-size: 18px;
                color: rgba(30, 30, 30, 0.5);
                transition: .2s;
                &:hover, &:active, &focus{
                color: rgba(0, 0, 0, 0.8);
                }
            }
        }
    }
}

// === /News ===

// === Card ===

.section-card{
    
    background: #E5E5E5;
    a{
        color: black;
        text-decoration: none;
    }
    &__back{
        padding-left: 80px;
        padding-top: 30px;
    }
    .section-inner{
        display: flex;
        justify-content: center;
        &__card{
            &-title{
                font-weight: bold;
                font-size: 36px;
                text-align: center;
                color: #1E1E1E;
                padding-bottom: 15px;
                padding-top: 50px;
            }
            &-data{
                padding-bottom: 20px;
                font-weight: 600;
                font-size: 14px;
                color: rgba(30, 30, 30, 0.5);
            }
            &-logo{
                align-items:center;
            }

            &-subtitle{
                font-weight: 600;
                font-size: 20px;
                color: #000000;
            }

            &-desc{
                padding-top: 25px;
                padding-bottom: 25px;
                font-weight: normal;
                font-size: 16px;
                color: #000000;
            }

            &-list{
                font-weight: normal;
                font-size: 16px;
                color: #000000;
            }

            &-socials{
                border-top: 1px solid #000000;
                border-bottom: 1px solid #000000;
                display: flex;
                justify-content: space-between;
                &-title{
                    padding-top: 15px;
                    padding-bottom: 15px;
                    font-weight: 600;
                    font-size: 14px;
                    color: #000000;
                }
                
            }
            &-images{
                display: flex;
                align-items:center;
                justify-content: space-between;
                svg{
                    cursor: pointer;
                    margin-left: 25px;
                    transition: .2s;
                    &:hover{
                        path{
                            fill: rgb(0, 0, 0);
                        }
                    }
                }
            }
            &-prevnxt{
                display: flex;
                justify-content: space-between;
                padding-top: 50px;
                padding-bottom: 120px;
                &-previous{
                    svg{
                        margin-right: 20px;
                    }
                    display: flex;
                    align-items:center;
                    font-weight: 500;
                    font-size: 18px;
                }
                &-next{
                    svg{
                        margin-left: 20px;
                    }
                    display: flex;
                    align-items:center;
                    font-weight: 500;
                    font-size: 18px;
                }
            }
        }
    }
}

// === /Card ===

// === More Cards ===

.section-more{
    background-color:white;
    .section-inner{
        a{
            color: black;
            text-decoration: none; 
         }
        &__title{
            text-align: center;
            padding-top: 80px;
            padding-bottom: 50px;
        }
        &__container{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            &__item{

                &-title{
                    padding-top: 25px;
                    padding-bottom: 15px;
                    font-weight: 600;
                    font-size: 18px;
                    
                    
                }
                &-subtitle{
                    font-weight: normal;
                    padding-bottom: 15px;
                    font-size: 14px;
                    
                }
                &-date{
                    a{
                        text-decoration: none;
                        color: rgba(30, 30, 30, 0.5);
                    }
                    padding-bottom: 130px;
                    font-weight: 600;
                    font-size: 14px;
                    
                }
            }
        }
    }
}

// === /More Cards ===

// === Contacts ===

.section-contacts{
    position: relative;
    background: #E5E5E5;
    img{
        padding-bottom: 80px;
    }
    .section-inner{
        &__title{
            padding-top: 100px;
            padding-bottom: 40px;
            
        }
        &__info{
            width: 450px;
            height: 200px;
            background-color:white;
            position:absolute;
            top: 100px;
            left: 60%;
            display: flex;
            justify-content: space-between;
            &-address{
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                padding-top: 60px;
                padding-left: 30px;
                .title{
                    padding-bottom: 10px;
                    font-weight: 600;
                    font-size: 18px;
                    
                    color: #000000;
                }
                .desc{
                    font-weight: normal;
                    font-size: 14px;
                    
                    line-height: 25px;
                }
            }
            &-phone{
                padding-top: 60px;
                padding-right: 30px;
                .title{
                    padding-bottom: 10px;
                    font-weight: 600;
                    font-size: 18px;
                    color: #000000;
                    
                }
                .desc{
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 25px;
                }
            }
        }
    }
}

// === /Contacts ===

// === Footer ===

.section-footer{
    background: #1E1E1E;
    padding: 72px 0 0;
    .section-inner{
        padding-bottom: 72px;
    }
}

.footer-main{
    display: flex;
    //align-items: center;
    justify-content: space-between;
}

.footer-services{
    @include list-style-none();
    li + li{
        margin-top: 20px;
    }
    &__item{
        font-weight: normal;
        font-size: 16px;
        line-height: 130%;
        color: rgba(255, 255, 255, 0.8);
        transition: .2s;
        &:hover, &:active, &focus{
           color: rgba(114, 114, 114, 0.8);
        }
    }
    &__title{
        font-weight: 500;
        font-size: 20px;
        line-height: 130%;
        color: #D3D8DC;
    }
}
.footer-info{
    @include list-style-none();
    li + li{
        margin-top: 20px;
    }
    &__item{
        font-weight: normal;
        font-size: 16px;
        line-height: 130%;
        color: rgba(255, 255, 255, 0.8);
        &:hover, &:active, &focus{
            color: rgba(114, 114, 114, 0.8);
         }
    }
    &__title{
        font-weight: 500;
        font-size: 20px;
        line-height: 130%;
        color: #D3D8DC;
    }
}
.footer-contacts{
    @include list-style-none();
    li + li{
        margin-top: 20px;
    }
    &__item{
        font-weight: normal;
        font-size: 16px;
        line-height: 130%;
        color: rgba(255, 255, 255, 0.8);
        &:hover, &:active, &focus{
            color: rgba(114, 114, 114, 0.8);
        }
    }
    &__title{
        font-weight: 500;
        font-size: 20px;
        line-height: 130%;
        color: #D3D8DC;
    }
    .footer-contacts__phone{
        max-width: 140px;
    }
}
.footer-socials{
    @include list-style-none();
    li + li{
        margin-top: 20px;
    }
    &__item{
        font-weight: normal;
        font-size: 16px;
        line-height: 130%;
        color: rgba(255, 255, 255, 0.8);
        &:hover, &:active, &focus{
            color: rgba(114, 114, 114, 0.8);
        }
    }
    &__title{
        font-weight: 500;
        font-size: 20px;
        line-height: 130%;
        color: #D3D8DC;
    }
    .change-lang-btn{
        margin-top: 92px;
    }
}

.footer-copyright{
    background-color: black;
    padding: 12px 0;
}

.site-copyright{
    @include font-roboto;
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    color: #CED7DF
}

// === /Footer ===


// === ps-sec ===

.ps-section-promo{
    padding: 80px 0 100px;
    background-color: #1E1E1E;
    .section-inner{
        display: grid;
    }
    .ps-promo-content{
        z-index: 1;
    }
    .ps-promo-img{

    }
}

// === /ps-sec ===


// === MEDIA ===




@media (max-width: 1400px){
    .section-inner{
        max-width: 1100px;
    }
    .header-nav{
        margin-right: 160px;
    }
    .header-contacts{
        margin-right: 40px;
    }
    .algorithm-cards{
        flex-wrap: wrap;
        &__item{
            &+&{
                margin-left: 20px;
            }
        }
    }
}

@media (max-width: 1200px){
    .section-inner{
        max-width: 1000px;
    }
    .header-nav{
        margin-right: 140px;
    }
    .header-contacts{
        margin-right: 30px;
    }
    .header__logo{
        padding-right: 10px;
    }
    .features-img{
        display: none;
    }
    .features-wrapper{
        justify-content: center;
    }
    .features-content{
        margin-left: 0;
    }
}

@media (max-width: 1000px){
    .section-inner{
        max-width: 800px;
        justify-content: space-between;
    }
    
    .burger-btn{
        display: block;
    }
    .site-logo{
        flex-basis: 50%;
        border: none;
    }
    .header-menu{
        display: none;
    }
    .header-menu--active{
        display: flex;
        background-color: #353535;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 78px;
        left: 0;
        flex-direction: column;
        .header-nav{
            margin: 0;
            padding: 0 10%;
            align-self: flex-start;
            width: 100%;
            margin-top: 24px;
            flex-direction: column;
            &__link{
                margin: 0;
                width: 100%;
                padding: 24px 0;
                border-top: 1px solid rgba(30, 30, 30, 0.5);
            }
        }
        .header-contacts{
            margin: 0;
            font-size: 18px;
            padding: 0 10%;
            align-self: flex-start;
            margin-bottom: 20px;
        }
        .change-lang-btn{
            font-size: 18px;
            padding: 0 10%;
            align-self: flex-start;
        }
    }

    // === RPromo ===

    .section-promo{
        padding: 0;
        .section-inner{
           max-width: 100%;
        }
    }

    // === /RPromo ===


    // === reliability ===

    .section-reliability{
        &__title{
            text-align: center;
        }
    }
    .reliability-list__title{
        text-align: center;
    }
    .section-reliability__image{
        display: none;
    }

    // === /reliability ===

}

@media (max-width: 900px){
    .section-inner{
        max-width: 700px;
    }
}

@media (max-width: 800px){
    .section-inner{
        max-width: 600px;
    }
    // === Media Footer ===

    .footer-main{
        flex-direction: column;
        ul+ul{
            margin-bottom: 64px;
        }
    }

    .slider-arrows{
        display: none !important;
    }
    .section-licenses{
        .slider-title{
            display: block;
        }
    }

    // === Media /Footer ===
}

@media (max-width: 700px){
    .section-inner{
        max-width: 500px;
    }

    // === RPromo ===

    .section-promo{
        .section-inner{
            padding-top: 278px;
            background-position: 80%;
        }
        .promo-title{
            font-size: 32px;
        }
    }

    // === /RPromo ===

}

@media (max-width: 600px){
    .section-inner{
        max-width: 480px;
    }
    .site-logo{
        flex-basis: 70%;
    }
    .algorithm-cards{
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
    }
}

@media (max-width: 500px){
    .section-inner{
        max-width: 400px;
    }
}

@media (max-width: 400px){
    .section-inner{
        max-width: 300px;
    }
}



// === /MEDIA ===